<h1><%= @game.title %></h1>

<p>Release Date:<%= "#{@game.released_on.strftime("%e %B %Y") if @game.released_on}" %></p>

<p> Image: <img src="<%= "#{@game.image_link}" %>"</p>

<p><%= @game.description %></p>

<p><a href="/games">back to games index</a></p>

<p><a href="/games/<%="#{@game.id}"%>/edit">edit this game</a></p>

<form action="/games/<%= "#{@game.id}" %>" method="POST"> 
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete this game">
</form>
